.StylesBody{
    border: 1px solid black;
}
.starContainer{
    cursor: pointer;
    display: flex;
}

.stars{
    width: 25px;
    height: 25px;
}

.isColorStar * {
    color: #413e3e;
    fill: gold;
}

.isNotColorStar * {
    fill: #b4b3b3;
}

.grade{
    margin-left: 10px;
    cursor: text;
}

@keyframes starSpin {
    from,
    20% {
        transform: rotate(0);
    }
    60%,
    to {
        transform: rotate(144deg);
    }
}


.isColorStar.bounce > .stars {
    animation: bounce 0.5s ease infinite, starSpin 2s ease infinite;
}