.containerSelectors{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    height: 100%;
}

.customComponents{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    gap: 30px;
    margin-top: 50px;
}

.planSelectContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 155px;
    gap: 100px;
}

.useSelectExample{
    border: 1px solid black;
    height: 500px;
    
}