
.CommonPalette{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InfoDashboard{
    display: flex;
    flex-direction: column;
}
.titleDashboard{
    background-image: linear-gradient(90deg, #04c748, #5d94ff);
    background-clip: content-box;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0 auto;
}
.description{
  font-size: 15px;
}
.containerButtons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    min-height: 120px;
    margin-bottom: 120px;
}