
.CommonPalette{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    align-items: center;

}

.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.InfoDashboard{
    display: flex;
    flex-direction: column;
}
.titleDashboard{
   margin: 0 auto;
}
.description{

}
.containerButtons{
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 1px solid black;
    max-width: 1200px;
    width: 100%;
    min-height: 150px;
    margin-bottom: 150px;
}