.small, .medium, .large{
    cursor: pointer;
    width: 100%;
    max-width: 100px;
    background-color: #0783d2;
    color: seashell;
    overflow: hidden;
    text-overflow: ellipsis;

}

.small{
    font-size: 12px;
    padding: 2px;
    max-width: 80px;
}

.medium{
    font-size: 15px;
    padding: 5px;

}
.large{
    font-size: 18px;
    padding: 8px;
}

.default{
    cursor: pointer;
    width: 100%;
    max-width: 100px;
    background-color: #0783d2;
    color: seashell;
    overflow: hidden;
    text-overflow: ellipsis;
}