
.primary, .secondary, .success, .error, .default{
    cursor: pointer;
    width: 100%;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
}

.primary{

}
.secondary{

}
.success{

}
.error{

}
.default{

}