body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background: url("https://www.toptal.com/designers/subtlepatterns/uploads/blue-snow.png");
  font-family: 'PT Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
